<% layout('layouts/boilerplate')%>

<h1> My Collection </h1>

    
<div>
    <a href="/new">Add a New Piece!</a>  
<form id="collection_form">
        <label for="archival">Archival:</label>
            <select name="archival" id="archival" onchange="this.form.submit()">
                <option value="hide" <% if (archivalStatus === 'hide') { %> selected="selected" <% } %> >Hide</option>
                <option value="show" <% if ((archivalStatus === 'show') || (archivalStatus === undefined)) { %> selected="selected" <% } %>>Show</option>
                <option value="showOnly" <% if (archivalStatus === 'showOnly') { %> selected="selected" <% } %>>Show Only </option>

            </select>

        <label for="categories">Manage Categories:</label>
        <input type="checkbox" name="show" value="acquired" id="checkbox1" onchange="this.form.submit()" <% if (queryString.includes('acquired')) { %> checked="checked" <% } %>/>
        <label for="#checkbox1"> Date acquired </label>

        <input type="checkbox" name="show" value="forSale" id="checkbox2" onchange="this.form.submit()" <% if (queryString.includes('forSale')) { %> checked="checked" <% } %> />
        <label for="#checkbox2"> For Sale </label>

        <input type="checkbox" name="show" value="arch-col" id="checkbox3" onchange="this.form.submit()" <% if (queryString.includes('arch-col')) { %> checked="checked" <% } %> />
        <label for="#checkbox3"> Archival </label>

        <input type="checkbox" name="show" value="catalogue" id="checkbox4" onchange="this.form.submit()" <% if (queryString.includes('catalogue')) { %> checked="checked" <% } %> />
        <label for="#checkbox4"> Catalogue Number </label>






</form>
</div>






<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Artist</th>

            <th>Title</th>

            <th>Thumbnail</th>

            <th>Year</th>

            <th>Medium / Size</th> 

            <th>Added</th>

            <% if (queryString.includes('acquired')){ %> <th>Acquired</th> <% } %>

            <% if (queryString.includes('forSale')){ %> <th>For Sale</th> <% } %>

            <% if(queryString.includes('arch-col')){ %> <th>Archival</th> %> <% } %>

            <% if(queryString.includes('catalogue')){ %> <th>Catalogue Number</th> %> <% } %>


        </tr>
    </thead>
    <tbody>

        <% for (let piece of artPieces) { %>
        
            
                <tr>
                    <td><%= piece.artist %></td>

                    <td> <a href="collection/show/<%=piece.id%>"> <%= piece.title %> </a> </td>

                    <% for (let img of piece.images) { %>
                    <td><img src="<%= img.url %>" style="max-width:100px; width:100%"></td>
                    <% break } %>   



                    <% for (let y of piece.year) { %>
                        <% if (y.year_started != undefined || y.year_stared != null) { %>
                            <td> <%= `${y.year_started} - ${y.year_finished}` %> </td>
                    <%  } else { %>
                        <td><%= y.year_finished %></td>
                        <% } %>
                    <% break } %>

                   
                    <td><%= piece.medium %> <br>                     
                        <% for (let s of piece.size) { %>
                        <% if (s.z === undefined || s.z === null){ %>
                             <%=  `${s.x} x ${s.x} ${s.unit}` %> 
                    <%  } else { %>
                        <%=  `${s.x} x ${s.y} x ${s.z} ${s.unit}` %>
                        <% } %>
                    <% break } %>
                    </td>
                
            



                    <td> 
                        <span style="display: none"> <%= piece.createdAt.getTime() %> </span>
                        <%=  moment (piece.createdAt).fromNow() %>
                    </td>

                    <% if (queryString.includes('acquired')){ %> 
                        <td>
                        <span style="display: none">   <%= piece.acquiration_date.getTime() %>    </span> 
                            <%=  moment(piece.acquiration_date).format("DD/MM/YYYY")%>
                        </td>
                    <% } %>

                    <% if (queryString.includes('forSale')){ %> 
                        <td>
                            <% if (piece.forSale == true) { %>
                                <% for (let el of piece.price) { %>
                                  <%  if (el.price !== null) { %>
                                     <%= `${el.price} ${el.currency}` %> 
                                     <% } else { %>
                                        not set
                                   <% }}} else { %>
                                        &#10007;
                                        <% } %>                         </td>
                    <% } %>

                    <% if (queryString.includes('arch-col')) { %>
                    <td><% if (piece.archival == true) { %> &#10003; <% } else { %> &#10007; <% } %></td>
                    <% } %>


                    <% if (queryString.includes('catalogue')) { %>
                        <td><%=  piece.catalogue %></td>
                        <% } %>


                </tr>
        <% } %>
    </tbody>
</table>

<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>

<!-- Data Table JS -->
<script src='../public/javascripts/dataTables.js'></script>
<script src='../public/javascripts/dataTables_responsive.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [2, 4]}
            ],
            order: [[5, 'desc']],

        language: {
            //customize pagination prev and next buttons: use arrows instead of words
            'paginate': {
            'previous': '<span class="fa fa-chevron-left"></span>',
            'next': '<span class="fa fa-chevron-right"></span>'
            },
            //customize number of elements to be displayed
            "lengthMenu": 'Display <select class="form-control input-sm">'+
            '<option value="10">10</option>'+
            '<option value="20">20</option>'+
            '<option value="30">30</option>'+
            '<option value="40">40</option>'+
            '<option value="50">50</option>'+
            '<option value="-1">All</option>'+
            '</select> results'
        }
        })  
    }); 

    
</script>


</body>
</html>


