<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Collection</title>
    <base href="/" />

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>       
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href='public/stylesheets/collection.css'/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
    
</head>

<!-- add a constant row height maybe?-->

<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar.ejs')  %>
    
    <main class="container mt-5">
        <%- include('./partials/flash.ejs')  %>

<h1> My Collection </h1>

<container id="#NewPaginationContainer"></container>



<p id="table-settings-toggle" data-bs-toggle="collapse" data-bs-target="#table-settings" onclick="toggleClass('active', 'collection-table_length')" >Table Settings &#9660;</p> 


<div id="table-settings" class="collapse">
<form id="collection_form" class="to_be">
        <label for="archival-select">Archival:</label>
            <select name="archival" id="archival-select" onchange="this.form.submit()">
                <option value="archival-hide" <% if (archivalStatus === "archival-hide" ) { %> selected="selected" <% } %> >Hide</option>
                <option value="archival-show" <% if ((archivalStatus === "archival-show") || (archivalStatus === undefined)) { %> selected="selected" <% } %>>Show</option>
                <option value="archival-showOnly" <% if (archivalStatus === "archival-showOnly") { %> selected="selected" <% } %>>Show Only </option>

            </select><br><br>

            <label for="length_change">I want to see</label>
            <select name='length_change' id='length_change'>
                <option value='5'>5</option>
                <option value='10'>10</option>
                <option value='15'>15</option>
                <option value='200'>200</option>
            </select>
            <label for="length_change">pieces per page</label>

            
            
            
            <br><br>
<div  >
        <label id="categories-label" for="categories" data-bs-toggle="collapse" data-bs-target="#categories-checklist">Manage Categories &#8811; </label>
        
            <div id="categories-checklist" class="collapse">
                <div>
        <input type="checkbox" class="category-check" value="1"  name="added" id="checkbox0" onchange="this.form.submit()" <% if (queryString.includes('added')) { %> checked="checked" <% } %>/>
        <label class="category-label" for="#checkbox0"> Added </label>
                </div>
                <div>
        <input type="checkbox" class="category-check" value="1" name="acquired" id="checkbox1" onchange="this.form.submit()" <% if (queryString.includes('acquired')) { %> checked="checked" <% } %>/>
        <label class="category-label" for="#checkbox1"> Date acquired </label>
    </div>

        <div>

        <input type="checkbox" class="category-check" value="1" name="forSale" id="checkbox2" onchange="this.form.submit()" <% if (queryString.includes('forSale')) { %> checked="checked" <% } %> />
        <label class="category-label" for="#checkbox2"> For Sale </label>
    </div>

        <div>

        <input type="checkbox" class="category-check" value="1" name="arch-col" id="checkbox3" onchange="this.form.submit()" <% if (queryString.includes('arch-col')) { %> checked="checked" <% } %> />
        <label class="category-label" for="#checkbox3"> Archival </label>
    </div>

        <div>

        <input type="checkbox" class="category-check" value="1" name="catalogue" id="checkbox4" onchange="this.form.submit()" <% if (queryString.includes('catalogue')) { %> checked="checked" <% } %> />
        <label class="category-label" for="#checkbox4"> Catalogue Number </label>
    </div>

    <p onclick="toggleClass('active', 'categories-checklist', 'categories-label', 'categories-checklist-mobile-placeholder')">&#8810;</p>

    </div>
    <div id="categories-checklist-mobile-placeholder"> 
        <p>If you wish to see more categories, you'll have to filp your device to horizontal mode...</p>
    </div>
</div>
</form>

<form action="/preferences/edit?_method=PUT" method="POST" novalidate>
    <input type="hidden" name="custom_table" value="<%=queryString%>"/>
 <button type="submit" id="categories-save"> Save as default </button> 
</form>
</div><br>

<div id="search-box">
    <p> <span id="search-icon" class="search-icon" onclick="toggleClass('active', 'search-accordion', 'search-icon')">&#128270;</span>   <span id="search-accordion" class="search-accordion"><input type="text" id="table-search"> <span onclick="toggleClass('active', 'search-accordion', 'search-icon')"> &#8249; </span> </span></p>
</div>






<table id="collection-table" class="table-hover" style="width:100%">
    <thead>
        <tr>
            <th>Artist</th>

            <th>Title</th>

            <th>Thumbnail</th>

            <th>Medium / Size</th> 

            <th>Year</th>

            <% if (queryString.includes('added')) { %> <th class="portrait-hide">Added</th> <% } %>

             <th class="portrait-hide" <% if (!queryString.includes('acquired')){ %> style="display:none;"  <% } %> >Acquired</th>

            <% if (queryString.includes('forSale')){ %> <th class="portrait-hide">For Sale</th> <% } %>

            <% if(queryString.includes('arch-col')){ %> <th class="portrait-hide">Archival</th> <% } %>

            <% if(queryString.includes('catalogue')){ %> <th class="portrait-hide">Catalogue Number</th> <% } %>


        </tr>
    </thead>
    <tbody>

        <% for (let piece of artPieces) { %>
        
            
                <tr>
                    <td><%= piece.artist %></td>

                    <td> <a href="collection/show/<%=piece.id%>"> <%= piece.title %> </a> </td>

                    <td>
                        <% if (piece.images.length > 0) { %>
                        <% for (let img of piece.images) { %>
                    <img src="<%= img.url %>" style="max-width:100px; width:100%">
                        <% break } %> 
                        <% } else { %> <img class="" style="width:100px; height:100px;" src="https://res.cloudinary.com/dtjtqp7r1/image/upload/v1699819800/artCollector/No_image_3_hjnpkx.png"> 
                        <% } %>

                    </td>


                   
                    <td>
                        <%= piece.medium %> <br>                     
                        <% for (let s of piece.size) { %>
                            <% if ((s.x === null || s.y === null) || (s.x === undefined || s.y === undefined)) {  null  } else { %>
                        <% if (s.z === undefined || s.z === null){ %>
                             <%=  `${s.x} x ${s.x} ${s.unit}` %> 
                    <%  } else { %>
                        <%=  `${s.x} x ${s.y} x ${s.z} ${s.unit}` %>
                        <% } %>
                    <% break } %>
                    <% } %>
                    </td>



                        <% for (let y of piece.year) { %>
                            <% if (y.year_started != undefined || y.year_stared != null) { %>
                                <td> <%= `${y.year_started} - ${y.year_finished}` %> </td>
                        <%  } else { %>
                            <td><%= y.year_finished %></td>
                            <% } %>
                        <% break } %>
               

                        
                
            
                  <% if (queryString.includes('added')) {   %>       
                    <td class="portrait-hide">

                    <span style="display: none"> <%= piece.createdAt.getTime() %> </span> 
                  <%=  moment (piece.createdAt).fromNow() %> 
                </td>

                  <% } %>


                        <td class="portrait-hide" <% if (!queryString.includes('acquired')){ %> style="display: none;"  <% } %> >
                            <% if (piece.acquiration_date) { %>
                        <span style="display: none">   <%= piece.acquiration_date.getTime() %>    </span> 
                            <%=  moment(piece.acquiration_date).format("DD/MM/YYYY")%>
                            <% } else { %> no info <% } %>
                        </td>

                    <% if (queryString.includes('forSale')){ %> 
                        <td class="portrait-hide">
                            <% if (piece.forSale == true) { %>
                                <% for (let el of piece.price) { %>
                                  <%  if (el.price !== null) { %>
                                     <%= `${el.price} ${el.currency}` %> 
                                     <% } else { %>
                                        not set
                                   <% }}} else { %>
                                        &#10007;
                                        <% } %>                         </td>
                    <% } %>

                    <% if (queryString.includes('arch-col')) { %>
                    <td class="portrait-hide"><% if (piece.archival == true) { %> &#10003; <% } else { %> &#10007; <% } %></td>
                    <% } %>


                    <% if (queryString.includes('catalogue')) { %>
                        <td class="portrait-hide"><%=  piece.catalogue %></td>
                        <% } %>


                </tr>
        <% } %>
    </tbody>
</table>


<a href="collection/new">Add a New Piece!</a>  

</main>
</body>



<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>

<!-- Data Table JS --> 
<script src='public/javascripts/dataTables.js'></script>
<script src='public/javascripts/dataTables_responsive.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>

<script>

//set user default categories



let setDefault = function() { 

    var userTable = '<%- JSON.stringify(userTable) %>'
    var queryString = '<%- JSON.stringify(queryString) %>'
   
    if 
   (((!queryString.includes('added') && !queryString.includes('catalogue') && !queryString.includes('acquired') && !queryString.includes('arch-col') && !queryString.includes('forSale')) && (queryString.includes('archival-hide') || queryString.includes('archival-show') || queryString.includes('archival-showOnly')))) {
    localStorage.setItem('noBoxesChecked', true)} else { localStorage.removeItem('noBoxesChecked')};

    if (localStorage.getItem("defaultCollectionSettings") === null && localStorage.getItem("noBoxesChecked") === null) {

        const checkboxes = document.querySelectorAll(".category-check");

        for (let el of document.querySelectorAll('.category-check')) {
            if (!queryString.includes("1")){
            if (userTable.includes(el.name)){ el.checked = 1 } else { 
                el.checked = 0 
        }          // new condition

    }}

        for (let o of document.querySelector("#archival-select")) {
           if (!queryString.includes("1")) {
            if (userTable.includes(o.value)){ o.selected = 1 } else {
                o.selected = 0
            }
           }
        }


     document.querySelector('#collection_form').submit();
    //  if (localStorage.getItem("noBoxesChecked") === null ){
     localStorage.setItem("defaultCollectionSettings", true) //};

} else {
    localStorage.removeItem('defaultCollectionSettings');
}};


//navbar - appropariate width

// let setWidth = function() {

// let one = document.getElementById('collection-table');
// let two = document.getElementById("navbar");
// style = window.getComputedStyle(one);
// let wdt = style.getPropertyValue('width');

// if(window.innerWidth<800 && window.innerWidth>500){
//       console.log('mid')
//       wdt = parseInt(wdt) + 140 + 'px'
//       two.style.width = wdt;
//   }
// if(window.innerWidth<500) {
//   console.log('smol')
//   wdt = parseInt(wdt) + 40 + 'px'
//   two.style.width = wdt;
// }

// else { console.log('big guyy')} 
// };
  

window.onload = (function(){
    setDefault();
    // setWidth();
})


//dataTables js code

    $(document).ready(function() {
        let table = $('#collection-table').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [2, 3]}
            ],
            order: [[5, 'desc']],

        language: {
            'paginate': {
            'previous': '&#8810;',
            'next': '&#8811;'
            }},
        searching: true
        
        }) 
        $('#table-search').keyup(function() {
            table.search($(this).val()).draw();
        });
        $('#length_change').val(table.page.len());
        $('#length_change').change( function() { 
            table.page.len( $(this).val() ).draw();
        });
   
});


// toggle class js function

toggleClass = function(className, id1, id2, id3, id4) {    

for (let i = 1; i < arguments.length; i++ ){
    let id = arguments[i]

    let el = document.getElementById(id);
    if (el.classList.contains(className)) {
        el.classList.remove(className)
    } else {
        el.classList.add(className)
    }
}};

    
</script>


</body>
</html>


