<% layout('layouts/boilerplate')%>

<script>

    


</script>

<h1> My Collection </h1>

        <div>
    <a href="/new">Add a New Piece!</a>  
<form id="collection_form" class="to_be">
        <label for="archival">Archival:</label>
            <select name="archival" id="archival-select" onchange="this.form.submit()">
                <option value="archival-hide" <% if (archivalStatus === "archival-hide" ) { %> selected="selected" <% } %> >Hide</option>
                <option value="archival-show" <% if ((archivalStatus === "archival-show") || (archivalStatus === undefined)) { %> selected="selected" <% } %>>Show</option>
                <option value="archival-showOnly" <% if (archivalStatus === "archival-showOnly") { %> selected="selected" <% } %>>Show Only </option>

            </select>

        <label for="categories">Manage Categories:</label>

        <input type="checkbox" class="category-check" value="1"  name="year" id="checkbox0" onchange="this.form.submit()" <% if (queryString.includes('year')) { %> checked="checked" <% } %>/>
        <label for="#checkbox0"> Year </label>

        <input type="checkbox" class="category-check" value="1" name="acquired" id="checkbox1" onchange="this.form.submit()" <% if (queryString.includes('acquired')) { %> checked="checked" <% } %>/>
        <label for="#checkbox1"> Date acquired </label>

        <input type="checkbox" class="category-check" value="1" name="forSale" id="checkbox2" onchange="this.form.submit()" <% if (queryString.includes('forSale')) { %> checked="checked" <% } %> />
        <label for="#checkbox2"> For Sale </label>

        <input type="checkbox" class="category-check" value="1" name="arch-col" id="checkbox3" onchange="this.form.submit()" <% if (queryString.includes('arch-col')) { %> checked="checked" <% } %> />
        <label for="#checkbox3"> Archival </label>

        <input type="checkbox" class="category-check" value="1" name="catalogue" id="checkbox4" onchange="this.form.submit()" <% if (queryString.includes('catalogue')) { %> checked="checked" <% } %> />
        <label for="#checkbox4"> Catalogue Number </label>

</form>
<form action="/preferences/edit?_method=PUT" method="POST" novalidate>
    <input type="hidden" name="custom_table" value="<%=queryString%>" />
 <button type="submit"> Set current settings as default </button> 
</form>
</div>






<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Artist</th>

            <th>Title</th>

            <th>Thumbnail</th>

            <th>Medium / Size</th> 

            <% if (queryString.includes('year')) { %> <th>Year</th> <% } %>

            <th>Added</th>

            <% if (queryString.includes('acquired')){ %> <th>Acquired</th> <% } %>

            <% if (queryString.includes('forSale')){ %> <th>For Sale</th> <% } %>

            <% if(queryString.includes('arch-col')){ %> <th>Archival</th> <% } %>

            <% if(queryString.includes('catalogue')){ %> <th>Catalogue Number</th> <% } %>


        </tr>
    </thead>
    <tbody>

        <% for (let piece of artPieces) { %>
        
            
                <tr>
                    <td><%= piece.artist %></td>

                    <td> <a href="collection/show/<%=piece.id%>"> <%= piece.title %> </a> </td>

                    <% for (let img of piece.images) { %>
                    <td><img src="<%= img.url %>" style="max-width:100px; width:100%"></td>
                    <% break } %>   



                   
                    <td><%= piece.medium %> <br>                     
                        <% for (let s of piece.size) { %>
                        <% if (s.z === undefined || s.z === null){ %>
                             <%=  `${s.x} x ${s.x} ${s.unit}` %> 
                    <%  } else { %>
                        <%=  `${s.x} x ${s.y} x ${s.z} ${s.unit}` %>
                        <% } %>
                    <% break } %>
                    </td>
                
            

                  <% if (queryString.includes('year')) {  %>  <% for (let y of piece.year) { %>
                    <% if (y.year_started != undefined || y.year_stared != null) { %>
                        <td> <%= `${y.year_started} - ${y.year_finished}` %> </td>
                <%  } else { %>
                    <td><%= y.year_finished %></td>
                    <% } %>
                <% break }} %>



                    <td> 
                        <span style="display: none"> <%= piece.createdAt.getTime() %> </span>
                        <%=  moment (piece.createdAt).fromNow() %>
                    </td>

                    <% if (queryString.includes('acquired')){ %> 
                        <td>
                        <span style="display: none">   <%= piece.acquiration_date.getTime() %>    </span> 
                            <%=  moment(piece.acquiration_date).format("DD/MM/YYYY")%>
                        </td>
                    <% } %>

                    <% if (queryString.includes('forSale')){ %> 
                        <td>
                            <% if (piece.forSale == true) { %>
                                <% for (let el of piece.price) { %>
                                  <%  if (el.price !== null) { %>
                                     <%= `${el.price} ${el.currency}` %> 
                                     <% } else { %>
                                        not set
                                   <% }}} else { %>
                                        &#10007;
                                        <% } %>                         </td>
                    <% } %>

                    <% if (queryString.includes('arch-col')) { %>
                    <td><% if (piece.archival == true) { %> &#10003; <% } else { %> &#10007; <% } %></td>
                    <% } %>


                    <% if (queryString.includes('catalogue')) { %>
                        <td><%=  piece.catalogue %></td>
                        <% } %>


                </tr>
        <% } %>
    </tbody>
</table>

<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>

<!-- Data Table JS -->
<script src='../public/javascripts/dataTables.js'></script>
<script src='../public/javascripts/dataTables_responsive.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>

<script>


//set user default categories
window.onload = (function() { 

    var userTable = '<%- JSON.stringify(userTable) %>'
    var queryString = '<%- JSON.stringify(queryString) %>'
    console.log(queryString)


    if (localStorage.getItem("defaultCollectionSettings") === null) {

        const checkboxes = document.querySelectorAll(".category-check");

        for (let el of document.querySelectorAll('.category-check')) {
            if (!queryString.includes("1")){
            if (userTable.includes(el.name)){ el.checked = 1 } else { 
                el.checked = 0 
        }}}

        for (let o of document.querySelector("#archival-select")) {
           if (!queryString.includes("1")) {
            if (userTable.includes(o.value)){ o.selected = 1 } else {
                o.selected = 0
            }
           }
        }


     document.querySelector('#collection_form').submit();
     localStorage.setItem("defaultCollectionSettings", true);

} else {
    localStorage.removeItem('defaultCollectionSettings');
}})






    $(document).ready(function() {
        $('#example').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [2, 3]}
            ],
            order: [[4, 'desc']],

        language: {
            //customize pagination prev and next buttons: use arrows instead of words
            'paginate': {
            'previous': '<span class="fa fa-chevron-left"></span>',
            'next': '<span class="fa fa-chevron-right"></span>'
            },
            //customize number of elements to be displayed
            "lengthMenu": 'Display <select class="form-control input-sm">'+
            '<option value="10">10</option>'+
            '<option value="20">20</option>'+
            '<option value="30">30</option>'+
            '<option value="40">40</option>'+
            '<option value="50">50</option>'+
            '<option value="-1">All</option>'+
            '</select> results'
        }
        })  
    }); 


    
</script>


</body>
</html>


