<% layout('layouts/boilerplate')%>

  <div class="page-brand" id="edit-images-brand">
    <p class="my-auto page-header" id="edit-images-header">Edit Images</p>
  </div>

  <div id="edit-nav" class="row py-2">
    <div class="col-md-9"></div>
    <div class="col-md-3" id="back-link-div">
      <a href="/collection/show/<%=p._id%>" class="nav-landscape-el">Go back <i class="bi bi-backspace"></i>
      </a>
    </div>
  </div>

  <main class="container row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <!-- image options -->

      <% if (p.images.length) { %>

        <div class="col-md-12">

          <p class="menu menu-image-edit" for="deleteImageDiv" data-bs-toggle="collapse"
            data-bs-target="#manage-images-div" onclick="toggleClass('active', 'manage-images-arrow')">
            Manage images <span class="menu-arrow" id="manage-images-arrow">&#9660;</span>
          </p>
          <div class="accordion collapse" id="manage-images-div">
            <% p.images.forEach(function(img, i) { %>
              <div class='form-check-inline'>
                <img src='<%=img.url%>'>
                <div class="row" id="manage-images-options-div">
                  <form class="col-6" action="/collection/show/<%= p._id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <input type="hidden" name="deleteImages[]" value="<%=img.filename%>">
                    <button id="delete-button" class="btn mb-2"
                      onclick="return confirm('Are you sure you want to delete this image?')"><i
                        class="bi bi-trash"></i>
                    </button>
                  </form>
                  <form class="col-6" action="/collection/show/<%= p._id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <input type="hidden" name="makeDefault[]" value="<%=img.filename%>">
                    <button id="push-to-front-button" class="btn mb-2" aria-label="push to the front"><i
                        class="bi bi-arrow-90deg-left"></i>
                    </button>
                  </form>
                </div>
              </div>
              <% }) %>
          </div>
        </div>
        <% } %>
    </div>


    <!-- upload new images -->
    <div class="col-md-5">
      <form class="row g-3" action="/collection/show/<%= p._id %>?_method=PUT" method="POST"
        enctype="multipart/form-data">


        <p class="menu menu-image-edit image-edit-text" data-bs-toggle="collapse" data-bs-target="#upload-more-div"
          onclick="toggleClass('active', 'upload-images-arrow')">
          Upload more images <span class="menu-arrow" id="upload-images-arrow">&#9660;</span></p>
        <div id="upload-more-div" class="accordion collapse">
          <div class="col-md-12">


            <% if (p.images.length>= 4) { %> <p class="image-edit-text">You have reached the max allowed image
                number.<br><br>
                In order to upload new images, delete some of the ones already uploaded!</p>
              <% } else { %>
                <p class="text-muted image-edit-text"> If done one at a time, you can upload up to four images... </p>
                <input type="file" class="form-control" id="upload-images-input" name="images"
                  accept=".jpg, .png, .jpeg, .gif" <% if (p.images.length>= 4) { %> disabled <% } %>
                  onchange="unlockButton()">
          </div>
          <button class=" my-2 confirm-button" id="image-upload-button" disabled>Upload</button>
          <% } %>

        </div>
      </form>
    </div>
  </main>

  <script>


    const unlockButton = () => {
      document.querySelector('#image-upload-button').removeAttribute("disabled")
    };


  </script>