<% layout('layouts/boilerplate')%>


<div class="row pt-5 my-5 mx-4">

    <div id="edit-nav" class="row py-2 form-nav">
        <div class="col-md-9"></div>
        <div class="col-md-3" id="back-link-div">
            <!-- owner.pass insert below -->
          <a href="/discover/<%=owner.username%>/<%=owner.share_pass%>" class="nav-landscape-el">Return to collection <i class="bi bi-backspace"></i>
          </a>
        </div>
      </div>

    <!-- left column -->
    <div class="col-md-6" id="left-column">

        <!-- image -->
        <% if (p.images.length > 0) {  %>

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <% p.images.forEach((img, i) => { %>
            <div class="carousel-item <%= i === 0 ? 'active' : ''%>" id="item<%=i%>">
                <img class="image" crossorigin="anonymous" src="<%=img.url%>" alt="" id="image_<%=i%>">
            </div>
            <% }) %>
            </div>
            <% if (p.images.length > 1) { %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev" onclick="btn_check_landscape_prev()">
            <span class="carousel-control-prev-icon carousel-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next" onclick="btn_check_landscape_next()">
            <span class="carousel-control-next-icon carousel-icon" aria-hidden="true"></span>
            </button>
            <% } %>
        </div>
        <% } else { %>
            <img id="no-image-placeholder" src="https://res.cloudinary.com/dtjtqp7r1/image/upload/v1704838383/artCollector/app_images/No_image_qxymjl.jpg"> 
        <% } %>
        </div>



    <!-- right column -->
    <div class="col-md-6">

        <!-- main detail section -->
        <div class="container discover" id="detail-section">
            <div class="card-body pb-4">
                <p id="artist-cat-p"> <span class='fw-bold' id="artist-span"> <%= p.artist %> </span> 
                <span class="ps-5 ms-5 card-subtitle text-muted" id="catalogue-span"> <% if (p.catalogue) { %> Cat. <%= p.catalogue %> <% } %></span></p>

            <p class="">
                    <span class="fw-bold fst-italic" id="title-span">
                        <%= p.title %></span>,
                    
                    <span id="year-span">
                        <% for (let y of p.year) { %>
                            <% if (y.year_started != undefined || y.year_stared != null){ %>
                                <%= `${y.year_started} - ${y.year_finished}` %> 
                        <%  } else { %>
                            <td><%= y.year_finished %></td>
                            <% } %>
                        <% break } %>
                    </span>
                </p>



                <p class="card-subtitle mb-2 text-muted"> 
                    <% for (let s of p.size) { %>
                        <% if (s.y === undefined || s.y === null || s.x === undefined || s.x === null){  %>
                    <span id="medium-span"><%= p.medium %></span>
                    <span id="size-span"></span>
                    <% } else { %>
                        <span id="medium-span"><%= `${p.medium},` %></span>
                        <span id="size-span">
                            <% if ((s.z === undefined) || (s.z === null)){ %>
                                <%= `${s.y} x ${s.x} ${s.unit}` %> 
                        <%  } else { %>
                            <%=  `${s.y} x ${s.x} x ${s.z} ${s.unit}` %>
                            <% } %>
                        </span>
                        <% break } }%>
                </p>
            </div>
            <div>
            <p class="accordion pb-2" data-bs-toggle="collapse" id="description_accordion" href="#collapseTwo" onclick="toggleClass('active', 'description-arrow')"> Description <span class="menu-arrow" id="description-arrow">&#9660;</span></p> 
            <div id="description_wrapper" class="pb-4">
                    <div id="collapseTwo" class="collapse container" data-bs-parent="#description_accordion">
                        <% if (p.description !== '') { %>
                        <span id="description-span"><%= p.description %></span> 
                        <% } else { %>
                            <p class="text-muted"> No description of this piece has been provided by the owner. </p>
                    <%  } %>
                    </div>
                </div>
            </div>


            <!-- Details section -->
                <div>
                    <p class="accordion pb-2" data-bs-toggle="collapse" id="owner_detail_accordion" href="#collapseOne" onclick="toggleClass('active', 'ownership-detail-arrow')"> Details <span class="menu-arrow" id="ownership-detail-arrow">&#9660;</span> </p>
                    <div class="pb-4"  id="piece-info-div">
                    <div id="collapseOne" class="collapse container " data-bs-parent="#owner_detail_accordion">
                        <div class="row pb-4">
                            <div class="col-md-12 pb-4" id="discover-details-div">
                            <div class="col-md-3">
                                <% if (p.forSale == true) { %>
                                    <p id="forsale-p"> For Sale: &#10003; </p> 
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                                    <p id="price-p"> Price: <% for (let el of p.price) { %>
                                    <%  if (el.price !== null) { %>
                                       <span id="price-span"><%= `${el.price} ${el.currency}` %></span>  
                            </div>
                                        <% } else { %>
                                            not set
                            </div>
                                        <% }}} else { %>
                                            <p id="forsale-p"> For Sale: &#10007; </p> 
                                        <% } %> 
                                <div class="col-md-5"></div>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
        </div>



    </div>

</div>



<div class="row" >
    <canvas class="canvas" id="canvas_cat" width="1002" height="682"></canvas>
</div>

<div class="row py-5 my-5 mx-4">
    <canvas class="canvas" id="canvas_mus" width="1002" height="682"></canvas>
</div>



<script src="./public/javascripts/transform_imgOrientation.js"></script>
<script src="./public/javascripts/export_piece.js"></script>
