<% layout('layouts/boilerplate')%> 
<%-include('./partials/loading_ellipsis.ejs') %>

<main class="hide">
  <div class="row py-5 my-5 mx-4">
    <!-- left column -->
    <div class="col-md-6" id="left-column">
      <!-- image -->
      <% if (p.images.length > 0) { %>
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% p.images.forEach((img, i) => { %>
          <div
            class="carousel-item <%= i === 0 ? 'active' : ''%>"
            id="item<%=i%>"
          >
            <img
              class="image"
              crossorigin="anonymous"
              src="<%=img.url%>"
              alt=""
              id="image_<%=i%>"
            />
          </div>
          <% }) %>
        </div>
        <% if (p.images.length > 1) { %>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="prev"
          onclick="btn_check_landscape_prev()"
        >
          <span
            class="carousel-control-prev-icon carousel-icon"
            aria-hidden="true"
          ></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="next"
          onclick="btn_check_landscape_next()"
        >
          <span
            class="carousel-control-next-icon carousel-icon"
            aria-hidden="true"
          ></span>
        </button>
        <% } %>
      </div>
      <% } else { %>
      <img
        id="no-image-placeholder"
        src="https://res.cloudinary.com/dtjtqp7r1/image/upload/v1704838383/artCollector/app_images/No_image_qxymjl.jpg"
      />
      <% } %>
    </div>
    <!-- right column -->
    <div class="col-md-6">
      <!-- main detail section -->
      <div class="container pt-5" id="detail-section">
        <div class="card-body pb-4">
          <div id="artist-cat-p">
            <span class="fw-bold mb-0" id="artist-span"> <%= p.artist %> </span>
            <span
              class="ps-5 ms-5 card-subtitle text-muted"
              id="catalogue-span"
            >
              <% if (p.catalogue) { %> Cat. <%= p.catalogue %> <% } %></span
            >
          </div>
          <span class="d-block mt-3">
            <span class="fw-bold fst-italic" id="title-span">
              <%= p.title %>,</span
            >
            <span id="year-span">
              <% for (let y of p.year) { %> <% if (y.year_started != undefined
              || y.year_stared != null){ %> <%= `${y.year_started} -
              ${y.year_finished}` %> <% } else { %>
              <td><%= y.year_finished %></td>
              <% } %> <% break } %>
            </span>
          </span>
          <span class="card-subtitle mb-2 text-muted d-block">
            <% for (let s of p.size) { %> <% if (s.y === undefined || s.y ===
            null || s.x === undefined || s.x === null){ %>
            <span id="medium-span">
              <%= p.medium %>
            </span>
            <span id="size-span"></span>
            <% } else { %>
            <span id="medium-span">
              <%= `${p.medium},` %>
            </span>
            <span id="size-span">
              <% if ((s.z === undefined) || (s.z === null)){ %> <%= `${s.y} x
              ${s.x} ${s.unit}` %> <% } else { %> <%= `${s.y} x ${s.x} x ${s.z}
              ${s.unit}` %> <% } %>
            </span>
            <% break } }%>
          </span>
        </div>
        <div>
          <button
            class="accordion pb-2 d-block card-link"
            data-bs-toggle="collapse"
            id="description_accordion"
            href="#collapseTwo"
            onclick="toggleClass('active', 'description-arrow')"
          >
            Description
            <span class="menu-arrow" id="description-arrow">&#9660;</span>
          </button>
          <div id="description_wrapper" class="pb-4">
            <div
              id="collapseTwo"
              class="collapse container"
              data-bs-parent="#description_accordion"
            >
              <% if (p.description !== '') { %>
              <span class="mb-1" id="description-span"><%= p.description %></span>
              <% } else { %>
              <span class="text-muted d-block"
                >No description added for this piece.</span
              >
              <span class="text-muted d-block"
                >(You can, however, add some by editing!)</span
              >
              <% } %>
            </div>
          </div>
        </div>
        <!-- ownership details section -->
        <div>
          <button
            class="accordion card-link pb-2"
            data-bs-toggle="collapse"
            id="owner_detail_accordion"
            href="#collapseOne"
            onclick="toggleClass('active', 'ownership-detail-arrow')"
          >
            Ownership Details
            <span class="menu-arrow" id="ownership-detail-arrow">&#9660;</span>
          </button>
          <div class="pb-4" id="piece-info-div">
            <div
              id="collapseOne"
              class="collapse"
              data-bs-parent="#owner_detail_accordion"
            >
              <div class="row pb-4">
                <div class="col-md-9 pb-4">
                  <% for (let o of p.owner) { %> <% for (let h of p.holder) { %>
                  <% if (o.name === h.name) { %> <% for (let o of p.owner ) { %>
                  <% if (o.status === 'self') { %> <% if (currentUser.show_name
                  !== '' && currentUser.show_name !== null) { %>
                  <div>
                    <% if (currentUser.contact_info !== '' &&
                    currentUser.contact_info !== null) { %>
                    <span class="mb-4 d-block w-100" id="owner-span"
                      >Owner/Holder: <%= `${currentUser.show_name}` %></span
                    >
                    <span class="mb-4 d-block w-100" id="o-contact-span">
                      Contact: <%= `${currentUser.contact_info}` %></span
                    >
                    <% } else { %> Owner/Holder:
                    <span class="mb-4 d-block w-100" id="owner-span"
                      ><%= `${currentUser.show_name}` %></span
                    >
                    <% } %> <% if (p.acquiration_date !== null &&
                    p.acquiration_date !== '') { %> Acquisition date: <%=
                    moment(p.acquiration_date).format("DD/MM/YYYY") %> <% } %>
                  </div>
                  <% }} else if ( o.name !== undefined && o.name !== '') {%> <%
                  if (o.contact_info !== '') { %>
                  <div>
                    <span id="owner-span d-block mb-4">
                      Owner/Holder: <%= `${o.name}` %></span
                    >
                    &emsp;
                    <span id="o-contact-span mb-4 d-block"
                      ><%= `Contact: ${o.contact_info}` %></span
                    >
                  </div>
                  <% } else { %>
                  <span>No info on ownership status of this piece</span>
                  <% } %> <% } %> <% break } %> <% } else { %> <% for (let o of
                  p.owner ) { %> <% if (o.status === 'self') { %> <% if
                  (currentUser.show_name !== '' && currentUser.show_name !==
                  null) { %>
                  <div>
                    <span class="d-block mb-4" id="owner-span"></span>
                      Owner:<%=` ${currentUser.show_name}` %></span
                    >
                    <span class="d-block mb-4" id="o-contact-span mb-4 d-block">
                      Contact:<%=` ${currentUser.contact_info}` %>
                    </span>
                  </div>
                  <% }} else if ( o.name !== undefined && o.name !== '') {%>
                  <div>
                    <% if (o.contact_info !== '') { %> Owner:<span
                      class="d-block mb-4"
                      id="owner-span"
                      ><%=` ${o.name}`%></span
                    >
                    &emsp; %>
                    Contact:<span class="d-block mb-4" id="o-contact-span">
                      <%= ` ${o.contact_info}` %></span
                    >
                    <% } else { %> Owner:<span id="owner-span"
                      ><%=` ${o.name}`%></span
                    >
                    &emsp; %> 
                    <% } %>
                  </div>
                  <% } else { %> no info on owner <% } %> <% break } %>
                  <p></p>
                  <p>
                    <% if (p.acquiration_date !== null && p.acquiration_date !==
                    '') { %> Acquiration date: <%=
                    moment(p.acquiration_date).format("DD/MM/YYYY") %> <% } %>
                  </p>

                  <% for (let h of p.holder ) { %> <% if (h.status === 'self') {
                  if (currentUser.show_name !== '' && currentUser.show_name !==
                  null) { %>
                  <div>
                   <span class="d-block mb-4"> <%= `Holder: ${currentUser.show_name}` %> </span>
                   <span class="d-block mb-4">Contact: <%=`${currentUser.contact_info}` %></span> 
                  </div>
                  <% }} else if ( h.name !== undefined && h.name !== '') {%> <%
                  if (h.contact_info !== '') { %>
                  <div>
                   <span class="d-block mb-4"><%= `Holder: ${h.name}` %> &emsp; %> </span> 
                   <span class="d-block mb-4"><%= `Contact: ${h.contact_info}` %></span> 
                  </div>
                  <% } else { %> <%= `Holder: ${h.name}` %> &emsp; %> </span>
                  <% } %> <% } else { %> no info on holder <% } %> <% break } %>
                  <% }}} %>
                </div>
                <div class="col-md-3">
                  <span class="d-block mb-4" id="archival-p">
                    Archival: <% if (p.archival == true) { %> &#10003; <% } else
                    { %> &#10007; <% } %> <% if (p.forSale == true) { %>
                  </span>
                  <span class="d-block mb-4" id="forsale-p">For Sale: &#10003;</span>
                  <span class="d-block mb-4" id="price-p">
                    Price: <% for (let el of p.price) { %> <% if (el.price !==
                    null) { %>
                    <span id="price-span"
                      ><%= `${el.price} ${el.currency}` %></span
                    >
                    <% } else { %> not set <% }}} else { %>
                  </span>
                  <span id="forsale-p">For Sale: &#10007;</span>
                  <% } %>
                </div>
              </div>
            </div>
            <a
              href="/collection/show/<%= p._id %>/edit"
              class="card-link mb-2"
            >
              Edit Piece
            </a>
            &emsp;
            <a
              href="/collection/show/<%=p._id%>/edit/images"
              class="card-link mb-4"
            >
              Edit images <i class="bi bi-images"></i>
            </a>
            <button
              class="mb-4 card-link export-link"
              id="export-wrapper"
              data-bs-toggle="collapse"
              data-bs-target="#export-div"
              onclick="toggleClass('collapse', 'export-wrapper'), toggleClass('active', 'export-div')"
            >
              Export
            </button>
            <div class="accordion collapse" id="export-div">
              <a>
                <span
                  class="card-link export-link d-block my-2"
                  id="export-cat"
                >
                  Create a catalogue leflet
                </span>
              </a>
              <a>
                <span
                  class="card-link export-link d-block mb-2"
                  id="export-mus"
                >
                  Create a label
                </span>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <canvas class="canvas" id="canvas_cat" width="1002" height="682"></canvas>
  </div>
  <div class="row py-5 my-5 mx-4">
    <canvas class="canvas" id="canvas_mus" width="1002" height="682"></canvas>
  </div>
</main>

<script src="./public/javascripts/check_imgOrientation.js"></script>
<script src="./public/javascripts/export_piece.js"></script>
<script>
  const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));

  window.onload = async function () {
    await sleep(300);
    document.getElementById("loading-div").classList.add("hide");
    document.querySelector("main").classList.remove("hide");
    createCanvas_both();
    transform_imgOrientation();
  };
</script>