<% layout('layouts/boilerplate')%>


<div class="row py-5 my-5 mx-4">
<div class="col-md-6">


    <% for (let img of p.images) { %>
  <container>  <img src="<%= img.url %>" style="max-width:450px; width:100%"> </container>
    <% break } %>   





</div>

<div class="col-md-6">

    <div class="container pt-5" style="max-width: 100vw;">
        <div class="card-body">

            <p class='fw-bold'> <%= p.artist %> </p>

          <p class="">
                <span class="fw-bold fst-italic">
                    <%= p.title %>,
                </span>
                <span class="">
                    <% for (let y of p.year) { %>
                        <% if (y.year_started !== undefined){ %>
                            <%= `${y.year_started} - ${y.year_finished}` %> 
                    <%  } else { %>
                        <td><%= y.year_finished %></td>
                        <% } %>
                    <% break } %>
                </span>
            </p>




            <p class="card-subtitle mb-2 text-muted"> 
                
                <%= p.medium  %>,
               
                        <% for (let s of p.size) { %>
                        <% if ((s.z === undefined) || (s.z === null)){ %>
                             <%=  `${s.x} x ${s.x} ${s.unit}` %> 
                    <%  } else { %>
                        <%=  `${s.x} x ${s.y} x ${s.z} ${s.unit}` %>
                        <% } %>
                    <% break } %>

        
            </p>

          <p class="card-text"> <%= p.description  %> </p> 
          <!-- maybe set the description as accordion??? -->

            <div id="accordion">

                <p class="ownership-details-accordion" data-bs-toggle="collapse" href="#collapseOne">
                    Ownership Details
                </p>

                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">

                    <% for (let o of p.owner ) { %> 
                    <%    if ( p.owner !== undefined) {%>
                        <% if (o.contact_info !== '') { %> 
                            <p> <%= `Owner name: ${o.name}; Contact: ${o.contact_info}` %> </p>
                        <% } else { %>
                            <p> <%= `Name: ${o.name}` %> </p>  
                            <% } %>
                                <% } else { %>
                            <p> No info on owner </p > %>
                                <% } %>
                    <% break } %>

                    <!-- if acquiration date !== false {acquiration date} -->


                    <% for (let h of p.holder ) { %> 
                        <%    if ( p.holder !== undefined) {%>
                            <% if (h.contact_info !== '') { %> 
                                <p> <%= `Holder name: ${h.name}; Contact: ${h.contact_info}` %> </p>
                            <% } else { %>
                                <p> <%= `Name: ${h.name}` %> </p>  
                                <% } %>
                                    <% } else { %>
                                <p> No info on holder </p > %>
                                    <% } %>
                        <% break } %>


                    <!-- Details: Archival - check/unckecked; On sale - checked/unchecked; Price: - value; added: - timestamp -->
                    
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>
                    <p> </p>

                </div>
            </div>

            <!-- Details -->

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>



</div>

</div>